@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital@1&display=swap');

.order__container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      width: 100%;
     
}

.order__card{
      font-family:  poppins , sans-serif;
      margin-top: 10px;
      width: 100%;
      /* padding:20px; */
      background-color: #d5ecd6;
      border-radius: 15px;
}
.order__div{
      padding: 10px 40px 40px 40px;
}

@media only screen and (max-width:688px) {
      .order__container{
            grid-template-columns: repeat(1, 1fr);
      }
      
}

@media only screen and (min-width:689px) and (max-width:991px) {
      .order__container{
            grid-template-columns: repeat(2, 1fr);
      }
}