@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital@1&display=swap');

.btn:hover{
      background-color: rgb(197, 23, 23);
      transform: scale(1.1);
      transition: 1s;
}
.product__card{
      box-shadow: 5px 10px #313030;
}