@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital@1&display=swap');

.add__product form{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   
}

.add__product form input, textarea{
      width: 50%;
      margin-bottom: 10px;
      padding: 10px;
}